.gameboard {
  background-color: rgb(52, 40, 67);
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 1px;
}

.tile-space {
  background-color: rgb(52, 40, 67);
  min-height: 35px;
  min-width: 35px;
}
.tile-wall {
  background-color: rgb(167, 54, 116);
}

.tile-goal {
  background-color: rgb(207, 191, 215);
}
.entity-player {
  background-color: rgb(124, 186, 25);
}
.entity-block {
  background-color: rgb(196, 108, 255);
}
.entity-block-goal {
  background-color: rgb(157, 219, 255);
}
